ul {
    border: 2px dashed #b8ece1;
    display: inline-block;
    background-color: #e7f8f5;
    color: #145D82;
    margin: 5px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    width: 30%;

}

li {
    list-style: none;
}

.station {
    font-weight: bold;
    text-decoration: underline;
}

.vehicle {
    color: #145D82;
}

.minutes {
    color: #145D82;
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 2px;
}

/* Smartphones (portrait and landscape) iPads (landscape) ----------- */
@media screen and (min-width : 320px) and (max-width : 768px) {
    ul {
        width: 90%;
    }
}