form {
    text-align: center;
}

label {
    margin-top: 5px;
    margin-left: 15px;
}

input[name="submit"]:focus,
input[name="submit"]:hover,
input[name="submit"]:active {
    background-color: #C0C0C0;
    color: #1C82B5;
}

input[name="submit"] {
    background-color: #1C82B5;
    border: 1px solid #93B7C7;
    border-radius: 5px;
    clear: both;
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    padding: 3px 6px;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width : 320px) and (max-width : 768px) {
    label {
        clear: both;
        display: block;
    }
    .err {
        clear: both;
        display: block;
    }
}