.App {
    color: #1C82B5;
    margin: auto;
    text-align: center;
    width: 75%;
}

header h1 {
    color: #C13140;
    font-family: 'Georgia', 'Times New Roman', serif;
    text-align: left;
}

header p {
    color: #1C82B5;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.err {
    color: red;
    font-style: italic;
    font-weight: none;
    margin-left: 5px;
}

.msg {
    font-style: italic;
    text-align: center;
}

main {
    border: 2px dashed #063a2f;
    height: 90%;
    padding: 10px 0;
}

main p {
    color: #589EC1;
    margin: 5px;
}

footer {
    color: #589EC1;
    font-style: italic;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width : 320px) and (max-width : 768px) {
    main {
        padding: 4px 2px;
    }
    main .info {
        text-align: left;
    }
}

/* Smartphones ----------- */
@media screen and (min-width : 320px) {
    .App {
        width: 95%;
    }
}

/* Tablet ----------- */
@media screen and (min-width : 768px) {
    .App {
        width: 90%;
    }
}