.App {
    text-align: center;
    margin: auto;
    width: 80%;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

.error {
    color: red;
    font-size: .75em;
    font-style: italic;
    font-weight: none;
    margin-left: 5px;
}

input[name="submit"] {
    background-color: #1C82B5;
    border: 1.5px solid #93B7C7;
    border-radius: 5px;
    clear: both;
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    text-shadow: 1px 1px #93B7C7;
}

input[name="submit"]:hover:not([disabled]) {
    background-color: #145D82;
}

input[disabled] {
    background-color: #E5E4E2;
    border: 1px solid #E5E4E2;
    color: #D3D3D3;
    text-shadow: 1px 1px #E5E4E2;
}